blacklist {
{{- range $wwid := .BlackListWwid }}
    wwid "{{ $wwid }}"
{{- end }}
{{- range $val := .Blacklist }}
    device {
        vendor "{{ $val.Vendor }}"
        product "{{ $val.Product }}"
    }
{{- end }}
}
{{- if or .Exceptions .ExceptionWwid }}
blacklist_exceptions {
{{- range $wwid := .ExceptionWwid }}
    wwid "{{ $wwid }}"
{{- end }}
{{- range $val := .Exceptions }}
    device {
        vendor "{{ $val.Vendor }}"
        product "{{ $val.Product }}"
    }
{{- end }}
}
{{- end }}
