resources:
- apiVersion: helm.cattle.io/v1
  kind: HelmChartConfig
  metadata:
    name: rke2-multus
    namespace: kube-system
  spec:
    valuesContent: |-
      thickPlugin:
        enabled: true
      dynamicNetworksController:
        enabled: true
      labels:
        nodeSelector:
          kubernetes.io/os: linux
{{if eq . "arm64"}}
          kubernetes.io/arch: arm64
{{end}}
