apiVersion: audit.k8s.io/v1
kind: Policy
omitStages:
  - "ResponseStarted"
rules:
  # Any include/exclude rules are added here

  # Log pod changes at RequestResponse level to audit PSA violation
  - level: RequestResponse
    resources:
    - group: ""
      resources: ["pods"]

  # A catch-all rule to log all other (create/delete/patch) requests at the Metadata level
  - level: Metadata
    verbs: ["create", "delete", "patch"]
    omitStages:
      - "ResponseStarted"
      - "ResponseComplete"
